html {
    /* rem size */
    font-size: 20px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr {
    color: #244028;
    opacity: 1;
}

/* navbar */

.navbar,
#contact,
footer {
    background-color: #BFAE7A;
}


#contact,
.social-medias ul li a,
footer {
    color: #244028;
}

#brand-name {
    color: #244028;
}

.company-font {
    font-family: 'Pinyon Script', 'Rouge Script', 'Parisienne', arial;
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    padding-left: 1rem;
}


.navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
    color: #244028;
}



/* hero */
.hero {
    margin-top: 78px;
}

.company-name {
    font-family: 'Pinyon Script', 'Rouge Script', 'Parisienne', arial;
    color: #80714F;
    font-size: 2.5rem;
}

.company-name-span {
    color: #80714F;
}

.btn-whatsapp {
    background-color: #01e675;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.btn-whatsapp:hover {
    color: white;

}

/* products - carousel */

#products .products-title,
#grid .products-title {
    text-transform: uppercase;
    color: #818C2A;
    font-size: 1.65rem;
    text-align: center;
    padding-bottom: 1rem;
}

.carousel-indicators {
    position: unset;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #244028;
}

/* products - card-grid */
.img-product {
    max-height: 200px;
    max-width: 170px;
}

.card-body .price {
    color: #818C2A;
    font-weight: bold;
}

.rounded-whatsapp {
    border-radius: 50%;
    padding: 5px 10px;
}

/* contact */
.social-medias ul li {
    list-style: none;
}

/* footer*/

footer small {
    font-size: 0.7rem;
}


@media screen and (max-width: 390px) {

    .company-name-span {
        display: none;

    }

}

/* color palette

nav, contact, footer >> background: #BFAE7A;
products >> background: #f8f9fa (bg-light);


navbar, hero title, contact, footer >> font: #244028;
hero subtitle >> font: #80714F;
products title, products price >> font: #818C2A;
hero text, products name >> font: #212529;
*/